<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cj_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,757},{236,298}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{236,298}}</string>
                <key>sourceSize</key>
                <string>{236,300}</string>
            </dict>
            <key>cx_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,311},{194,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,244}}</string>
                <key>sourceSize</key>
                <string>{194,244}</string>
            </dict>
            <key>dj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{436,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,341}}</string>
                <key>sourceSize</key>
                <string>{436,341}</string>
            </dict>
            <key>dj_foward.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,755},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>dj_reload.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,682},{70,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>gb_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,772},{250,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,170}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>jb_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,556},{123,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,125}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>jc_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{250,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,414}}</string>
                <key>sourceSize</key>
                <string>{250,414}</string>
            </dict>
            <key>jf_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,299},{282,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,310}}</string>
                <key>sourceSize</key>
                <string>{282,310}</string>
            </dict>
            <key>nm_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,674},{149,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,320}}</string>
                <key>sourceSize</key>
                <string>{149,320}</string>
            </dict>
            <key>nx_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,342},{228,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,331}}</string>
                <key>sourceSize</key>
                <string>{228,331}</string>
            </dict>
            <key>sb_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,772},{238,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,180}}</string>
                <key>sourceSize</key>
                <string>{238,180}</string>
            </dict>
            <key>sy_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,610},{161,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,338}}</string>
                <key>sourceSize</key>
                <string>{161,338}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{298,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,350}}</string>
                <key>sourceSize</key>
                <string>{298,350}</string>
            </dict>
            <key>ye_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{169,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,310}}</string>
                <key>sourceSize</key>
                <string>{169,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>overUi.png</string>
            <key>size</key>
            <string>{957,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d67b52d199eaf6a2ecd71aecb5d0c638$</string>
            <key>textureFileName</key>
            <string>overUi.png</string>
        </dict>
    </dict>
</plist>
