<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>award_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,957},{168,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,47}}</string>
                <key>sourceSize</key>
                <string>{168,47}</string>
            </dict>
            <key>award_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,790},{195,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,54}}</string>
                <key>sourceSize</key>
                <string>{195,54}</string>
            </dict>
            <key>award_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,901},{196,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,55}}</string>
                <key>sourceSize</key>
                <string>{196,55}</string>
            </dict>
            <key>award_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{214,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,59}}</string>
                <key>sourceSize</key>
                <string>{214,59}</string>
            </dict>
            <key>award_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,906},{217,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,58}}</string>
                <key>sourceSize</key>
                <string>{217,58}</string>
            </dict>
            <key>gs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,957},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,965},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,965},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,965},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>gs_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{502,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,402}}</string>
                <key>sourceSize</key>
                <string>{502,402}</string>
            </dict>
            <key>gs_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,790},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,403},{310,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,275}}</string>
                <key>sourceSize</key>
                <string>{310,275}</string>
            </dict>
            <key>hs_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,403},{250,386}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,386}}</string>
                <key>sourceSize</key>
                <string>{250,390}</string>
            </dict>
            <key>qj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,965},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>qj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,965},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>qj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>qj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>qj_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,0},{502,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,402}}</string>
                <key>sourceSize</key>
                <string>{502,402}</string>
            </dict>
            <key>qj_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,790},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
            <key>sy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>sy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{502,402}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,402}}</string>
                <key>sourceSize</key>
                <string>{502,402}</string>
            </dict>
            <key>sy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,790},{110,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,38}}</string>
                <key>sourceSize</key>
                <string>{110,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>panel_1.png</string>
            <key>size</key>
            <string>{1005,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5f59506342db62811604f7c9daf4c98$</string>
            <key>textureFileName</key>
            <string>panel_1.png</string>
        </dict>
    </dict>
</plist>
