<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bd_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,0},{286,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,322}}</string>
			<key>sourceSize</key>
			<string>{286,322}</string>
		</dict>
		<key>cy_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,269},{274,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,314}}</string>
			<key>sourceSize</key>
			<string>{274,314}</string>
		</dict>
		<key>gxbx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,628},{256,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,310}}</string>
			<key>sourceSize</key>
			<string>{256,310}</string>
		</dict>
		<key>lb_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,584},{263,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,316}}</string>
			<key>sourceSize</key>
			<string>{263,316}</string>
		</dict>
		<key>sbbx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,0},{268,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,313}}</string>
			<key>sourceSize</key>
			<string>{268,313}</string>
		</dict>
		<key>shbx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,628},{245,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,310}}</string>
			<key>sourceSize</key>
			<string>{245,310}</string>
		</dict>
		<key>sp.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,493},{69,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,71}}</string>
			<key>sourceSize</key>
			<string>{69,71}</string>
		</dict>
		<key>ss_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,317},{315,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,310}}</string>
			<key>sourceSize</key>
			<string>{315,310}</string>
		</dict>
		<key>sybx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,287},{205,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,322}}</string>
			<key>sourceSize</key>
			<string>{205,322}</string>
		</dict>
		<key>yabx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{355,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,316}}</string>
			<key>sourceSize</key>
			<string>{355,316}</string>
		</dict>
		<key>ylbx_t.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,584},{214,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,327}}</string>
			<key>sourceSize</key>
			<string>{214,327}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>person.png</string>
		<key>size</key>
		<string>{992,938}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:42e7a23d50453730c03114957430e0e5$</string>
		<key>textureFileName</key>
		<string>person.png</string>
	</dict>
</dict>
</plist>
